
.wrapper{
    margin: 5% 20% 0 20%;
    padding: 0;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.input__heading, .task-list__heading {
    font-size: 2vw;
    color: black;
}

.input{
    padding-bottom: 10%;
}
.text{
    font-size: 1.6vw;
    padding: 1.4%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5vw;
    flex-grow: 0.9;
}
.button-add, .button-clean{
    font-size: 1.4vw;
    padding: 0.9% 3% 0.9% 3%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5vw;
    cursor: pointer;
}
.input__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}


.task-list__button{
    float: right;
}

.container__checkbox{
margin-right: 3%;
width: 1em;
height: 1em;
}

.content{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vw;
    font-size: 1.5vw;
}

.container input {
position: relative;
}

.container input::before{
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    border: 1px solid rgb(211, 53, 132);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3 all ease;
}

.container input:checked::before {
background-color: rgb(236, 113, 199);
border: 1px solid rgb(211, 53, 132);
}
.container input:checked::after{
    position: absolute;
    content:'\2713';
    color: aliceblue;
    bottom: 0.4%;
    right: 10%;
}


.container:last-child{
padding-bottom: 4.5vw;
}


.emptyNotExist{
    display: none;
}


.emptyContainer{
    font-size: 1.5vw;
}