.page {
    margin: 0;
    padding: 0;
}

.image{
    width: 22%;
    padding-bottom: 4%;
}

.wrapper{
    margin: 3% 15% 0 15%;
    padding: 0 0 10% 0;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.input__heading, .task-list__heading {
    font-size: 2vw;
    color: rgba(16, 143, 136);
}

.input{
    padding-bottom: 10%;
}
.text{
    font-size: 1.6vw;
    padding: 1.4%;
    border: 3px solid rgba(16, 143, 136, 0.2);
    border-radius: 0.5vw;
    flex-grow: 0.9;
}
.button-add, .button-clean{
    font-size: 1.4vw;
    padding: 0.9% 3% 0.9% 3%;
    border: 1px solid rgba(16, 143, 136, 0.2);
    border-radius: 0.5vw;
    background-color: rgb(101, 172, 172);
    color: azure;
    cursor: pointer;
}
.button-clean{
    color: rgb(253, 253, 253);
}
.input__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

.task-list__button{
    float: right;
}
.button-add:hover{
    transform: scale(1.02);
}

.container__checkbox{
margin-right: 3%;
width: 1em;
height: 1em;
}

.content{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vw;
    font-size: 1.5vw;
}

.container input {
position: relative;
}

.container input::before{
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    border: 1px solid rgb(53, 179, 211);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3 all ease;
}

.container input:checked::before {
background-color: rgb(59, 187, 187);
border: 1px solid rgb(52, 158, 158);
}
.container input:checked::after{
    position: absolute;
    content:'\2713';
    color: white;
    bottom: 0.4%;
    right: 10%;
}


.container:last-child{
padding-bottom: 4.5vw;
}


.emptyNotExist{
    display: none;
}


.emptyContainer{
    font-size: 1.5vw;
}